# Python Einführung
Das ist eine Einfürhung für Python.

In [28]:
print("Hello World!")

Hello World!

In [29]:
# Das ist ein Kommentar
print("something")

something

In [30]:
name = "Lovelace"

In [31]:
print(name)

Lovelace

In [32]:
age = 73

In [33]:
print(age)

73

In [34]:
size = 1.7123

knows_math = True
likes_gardening = False
print(likes_gardening)

In [35]:
type(age)

int

In [36]:
type(name)

str

In [37]:
type(age)

int

## Operatoren

In [38]:
5 + 5

10

In [39]:
100 * age

7300

In [40]:
age = 73

In [41]:
100 * age

7300

In [42]:
name + name

'LovelaceLovelace'

In [43]:
name * 5

'LovelaceLovelaceLovelaceLovelaceLovelace'

In [44]:
name + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
name + "10"

In [ ]:
size/name

In [ ]:
number_of_articles = "50"

In [ ]:
int(number_of_articles) / 10

## Funktionen & Methoden

In [ ]:
len(name)

In [ ]:
name.upper()

In [ ]:
print(name)

In [ ]:
name_capital = name.upper()

In [ ]:
print(name_capital)

In [ ]:
name.count("e")

In [ ]:
name.count("e", "a")

In [ ]:
name.replace("lace", "is everywhere")

In [ ]:
name.replace("is everywhere", " is everywhere")

In [ ]:
print(name)

## Listen und Dictionaries

In [46]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [47]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809,
                           "Noether": 1882}

In [48]:
authors_and_birth_years["Darwin"]

1809

## for-Schleife

In [49]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [52]:
for name in names:
    print(name + " did awesome stuff")
print("\n")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [53]:
for author, year in authors_and_birth_years.items():
    print(author, year)

Lovelace 1882
Darwin 1809
Noether 1882

In [55]:
cool_people = {"Claudia": "Aufläufe", 
               "Emanuele": "Pizza", 
               "Pamela": "Falafel", 
               "Till": "Aufläufe"}

In [60]:
for person, food in cool_people.items():
    print(person, " isst gerne ", food)

Claudia  isst gerne  Aufläufe
Emanuele  isst gerne  Pizza
Pamela  isst gerne  Falafel
Till  isst gerne  Aufläufe

## Bedingte Anweisungen (Conditionals)

In [62]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [63]:
temp = 10
if temp > 15:
    print("It's warm")

In [65]:
temp = 30
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [67]:
temp = 5
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's cold